/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

/* Root Variables */
:root {
  --bg: #000;
  --text: #fff;
  --accent: #ffce52;
  --container-bg: #111;
  --border: #333;
  --hover-bg: #333;
  --secondary-border: #444;
  --highlight: #fcd34d;
}

/* Reset and Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Cairo', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  direction: rtl;
  overflow-x: hidden;
  display: flex;
    align-items: center;
    justify-content: center;

}

/* Shared Containers */

.menu-wrapper {
    padding: 5rem 1rem;
  max-width: 500px;
}

.menu-container {
  max-width: 100%;
  width: 700px;
  background-color: var(--container-bg);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.1);
  margin:12px;
}

.logo {
  width: 130px;
}
/* Homepage Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.category {
  background: #222;
  border: 1px solid var(--secondary-border);
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.category:hover {
  background-color: var(--hover-bg);
  transform: scale(1.03);
}
.img {
  height: 80px;
  display: flex;
  align-items: center;
}


.category img {
  width: 80px;
  margin-bottom: 0.5rem;
}

.category-title {
  font-size: 1rem;
  font-weight: bold;
  color: var(--highlight);
}

/* Header */
.header {
  margin-bottom: 2rem;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--highlight);
}

/* Footer */
.footer {
  margin-top: 2rem;
  font-size: 14px;
  color: #aaa;
  line-height: 1.6;
}

.footer a {
  color: var(--highlight);
  text-decoration: none;
}

/* Back Button (Menu Page) */
.back-button {
  position: fixed;
  top: 15px;
  right: 15px;
  background: var(--accent);
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: background 0.3s;
}

.back-button:hover {
  background: #ffd866;
}

/* Menu Image */
.menu-image {
  max-width: 100%;
  height: auto;
      border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.05);
    border: 1px solid var(--accent);
}





